body {
    padding: 1rem;
    width: 100vw;
}
h2 {
    margin-bottom: 1rem;
}

h3 {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

textarea {
    min-height: 400px;
    width: 100%;
}

.container {
    padding: 0;
}

#emails-view, 
#compose-view {
    padding: 0;
} 

#email-view {
    margin-top: 1rem;
}

.email-wrapper {
    align-items: center;
    background-color: white;
    border-top: 1px solid lightgrey;
    font-weight: 600;
    gap: 0.5rem;
    justify-content: space-between;
    margin: 0;
    padding: 1rem;
}

.email-wrapper:last-child {
    border-bottom: 1px solid lightgrey;
}

.email-recipients-col,
.email-sender-col {
    padding: 0;
}

.email-subject-col {
    padding: 0;
}

.email-timestamp-col {
    font-size: 0.875rem;
    font-style: italic;
    font-weight: 400;
    opacity: 0.5;
    padding: 0;
}

#submit-btn {
    margin-top: 1rem;
}

#error-message {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

#email-subject {
    margin: 1.5rem 0rem 1rem 0rem;
}

#email-recipients {
    margin-bottom: 1rem;
}

#email-timestamp {
    color: grey;
    font-size: 0.875rem;
    margin-bottom: 1rem;
}

#email-body {
    border: 0.5px solid lightgrey;
    border-radius: 4px;
    max-height: 600px;
    min-height: 300px;
    overflow: scroll;
    padding: 1rem;
    white-space: pre-line;
}

.email-btns {
    gap: 0.5rem;
    margin-top: 1rem;
}